<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Painel do Administrador</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style_admin.css') }}"
        />
    </head>
    <body>
        <header>
            <h1>Painel do Administrador</h1>
        </header>
        <main>
            <section>
                <h2>Gerenciar Usuários</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Tipo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.tipo }}</td>
                            <td>
                                <a href="/admin/edit/{{ user.id }}">Editar</a>
                                <a href="/admin/delete/{{ user.id }}"
                                    >Excluir</a
                                >
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <div class="admin-actions">
                <a href="{{ url_for('dashboard.new_item') }}" class="btn"
                    >Registrar novo item</a
                >
            </div>
        </main>
    </body>
</html>
