<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registro de Usuário</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style_login.css') }}"
        />
    </head>
    <body>
        <div id="form_loginAndRegister">
            <form
                id="registerForm"
                action="{{ url_for('auth.register') }}"
                method="POST"
            >
                <h2>Registrar</h2>
                <div>
                    <label for="name">Nome:</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        required
                        placeholder="Seu nome completo"
                    />
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        required
                        maxlength="25"
                        placeholder="Email Institucional"
                    />
                </div>
                <div>
                    <label for="senha">Senha:</label>
                    <input
                        type="password"
                        id="senha"
                        name="senha"
                        required
                        maxlength="9"
                        placeholder="Máximo 9 caracteres"
                    />
                </div>
                <div>
                    <label for="cep">Cep:</label>
                    <input
                        type="text"
                        id="cep"
                        name="cep"
                        required
                        placeholder="RA do Aluno"
                        pattern="\d{8}"
                        maxlength="8"
                        title="O Cep deve conter 8 dígitos."
                    />
                </div>
                <div>
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input
                        type="date"
                        id="dataNascimento"
                        name="dataNascimento"
                        required
                    />
                </div>
                <div>
                    <label for="cpf">CPF:</label>
                    <input
                        type="text"
                        id="cpf"
                        name="cpf"
                        pattern="\d{3}\.\d{3}\.\d{3}\-\d{2}"
                        placeholder="000.000.000-00"
                        required
                    />
                </div>
                <div>
                    <button type="submit">Registrar</button>
                </div>
                <p>
                    Já possui conta?
                    <a href="{{ url_for('auth.login') }}">Fazer Login</a>
                </p>
            </form>
        </div>
    </body>
</html>
