<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Painel do Administrador</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style_request.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style_btn.css') }}"
        />
    </head>
    <body>
        <header>
            <div class="header-content">
                <h1>Lista de Perdidos</h1>
            </div>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Funcionário</th>
                        <th>Local</th>
                        <th>Descrição</th>
                        <th>Imagem</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.item_date.strftime('%d/%m/%Y') }}</td>
                        <td>
                            {{ item.item_encontrado_time.strftime('%H:%M') }}
                        </td>
                        <td>{{ item.funcionario }}</td>
                        <td>{{ item.local }}</td>
                        <td>{{ item.item_description }}</td>
                        <td>
                            {% if item.imagem_path %}
                            <img
                                src="{{ url_for('static', filename=item.imagem_path) }}"
                                alt="Imagem do item"
                                width="100"
                            />
                            {% else %}
                            <span>Sem imagem</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.ativo %}
                            <form
                                method="POST"
                                action="{{ url_for('dashboard.hideen_item') }}"
                            >
                                <input
                                    type="hidden"
                                    name="item_id"
                                    value="{{ item.id }}"
                                />
                                <button type="submit">Item devolvido</button>
                            </form>
                            {% else %}
                            <span style="color: green; font-weight: bold"
                                >Item já devolvido</span
                            >
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="admin-actions">
                <a href="{{ url_for('dashboard.new_item') }}" class="btn"
                    >Registrar novo item</a
                >
            </div>
        </main>
    </body>
</html>
