<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Item Encontrado</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style_admin.css') }}"
        />
    </head>
    <body>
        <header>
            <div class="header-content">
                <h1 class="alinhamento">Adicionar Dados do Item Perdido</h1>
                <a
                    href="{{ url_for('dashboard.admin_dashboard') }}"
                    class="btn-logout"
                    >Voltar a Lista</a
                >
            </div>
        </header>
        <main>
            <form
                method="POST"
                action="{{ url_for('dashboard.new_item') }}"
                enctype="multipart/form-data"
            >
                <div>
                    <label for="item_date">Data:</label>
                    <input
                        type="date"
                        id="item_date"
                        name="item_date"
                        required
                    />
                </div>
                <div>
                    <label for="item_encontrado_time">Horário:</label>
                    <input
                        type="time"
                        id="item_encontrado_time"
                        name="item_encontrado_time"
                        required
                    />
                </div>
                <div>
                    <label for="funcionario">Funcionário Que Encontrou:</label>
                    <input
                        type="text"
                        id="funcionario"
                        name="funcionario"
                        required
                    />
                </div>
                <div>
                    <label for="local">Local:</label>
                    <input type="text" id="local" name="local" required />
                </div>
                <div>
                    <label for="imagem">Imagem do item:</label>
                    <input
                        type="file"
                        id="imagem"
                        name="imagem"
                        accept="image/*"
                    />
                </div>
                <div>
                    <label for="item_description">Descrição do Item</label>
                    <textarea
                        id="item_description"
                        name="item_description"
                        required
                    ></textarea>
                </div>
                <button type="submit">Cadastrar Item</button>
            </form>
        </main>
    </body>
</html>
