<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard do Usuário</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style_user.css') }}"
        />
    </head>
    <body>
        <header class="page-header">
            <div class="cabecalho">
                <<h1>Bem-vindo, {{ user.name }}!</h1>
                <a href="{{ url_for('auth.logout') }}" class="btn-logout">Sair</a>
            </div>
        </header>
        <main>
            
            <section class="info-card">
                <div class="text">
                    <h1>Plataforma Municipal: Achados e Perdidos</h1>
                    <p>
                        Plataforma Municipal de Achados e Perdidos de Minas
                        Gerais. <br />
                        Aqui você pode solicitar reaver pertences perdidos que
                        foram <br />
                        cadastrados no sistema, você irá conseguir acessar uma
                        lista do <br />registro de todos os itens encontrados
                        por nossos Funcionários <br />em
                        <strong>Recuperar Item</strong>. Caso não encontre seu
                        item pode ser que<br />
                        ainda não o tenhamos registrado no sistema.
                    </p>
                </div>
                <div class="image">
                    <img
                        src="{{ url_for('static', filename='images/Brasão_BH.png') }}"
                        alt="Brasão de BH"
                    />
                </div>
                <div class="actions">
                    <a
                        href="{{ url_for('dashboard.recuperar_pertence') }}"
                        class="btn"
                        >Recuperar Item</a
                    >
                </div>
            </section>
        </main>
        <footer class="site-footer">
            <div class="footer-content">
                <div class="footer-brand">
                    <p>Caso não esteja aqui, tente estes achados e perdidos clicando neles.</p>
                </div>
                
                <div class="footer-links">
                    <a href="https://www2.correios.com.br/servicos/achados_perdidos/default.cfm" target="_blank" class="clique">CORREIOS</a>
                    <a>|</a>
                    <a href="https://rodoviariadebelohorizonte.com.br/achados-e-perdidos/" target="_blank" class="clique">RODOVIÁRIA BH</a>
                    <a>|</a>
                    <a href="https://www.metrobh.com.br/fale-com-a-gente/" target="_blank" class="clique">METRÔ BH</a>
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2023 Achados e Perdidos MG. Todos os direitos reservados.</p>
            </div>
        </footer>
    </body>
</html>
